asgiref==3.8.1; python_version >= '3.8'
attrs==24.2.0; python_version >= '3.7'
autobahn==24.4.2; python_version >= '3.9'
automat==24.8.1; python_version >= '3.8'
certifi==2024.8.30; python_version >= '3.6'
cffi==1.17.1; platform_python_implementation != 'PyPy'
channels[daphne]==4.1.0; python_version >= '3.8'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
constantly==23.10.4; python_version >= '3.8'
crispy-tailwind==1.0.3; python_version >= '3.8'
cryptography==43.0.1; python_version >= '3.7'
daphne==4.1.2
diff-match-patch==20230430; python_version >= '3.7'
django==5.1.1; python_version >= '3.10'
django-allauth==64.2.1; python_version >= '3.8'
django-cleanup==8.1.0
django-cors-headers==4.4.0; python_version >= '3.8'
django-crispy-forms==2.3; python_version >= '3.8'
django-debug-toolbar==4.4.6; python_version >= '3.8'
django-environ==0.11.2; python_version >= '3.6' and python_version < '4'
django-extensions==3.2.3; python_version >= '3.6'
django-guardian==2.4.0; python_version >= '3.5'
django-import-export==4.1.1; python_version >= '3.8'
django-phonenumber-field[phonenumbers]==8.0.0; python_version >= '3.8'
django-tinymce==4.1.0; python_version >= '3.8'
django-unfold==0.38.0; python_version >= '3.8'
django-widget-tweaks==1.5.0; python_version >= '3.8'
djhtml==3.0.6
hyperlink==21.0.0
idna==3.10; python_version >= '3.6'
incremental==24.7.2; python_version >= '3.8'
isort==5.13.2; python_full_version >= '3.8.0'
phonenumbers==8.13.45
pillow==10.4.0; python_version >= '3.8'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.1; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pyopenssl==24.2.1
requests==2.32.3; python_version >= '3.8'
service-identity==24.1.0
setuptools==75.0.0; python_version >= '3.8'
sqlparse==0.5.1; python_version >= '3.8'
tablib==3.5.0; python_version >= '3.8'
twisted[tls]==24.7.0; python_full_version >= '3.8.0'
txaio==23.1.1; python_version >= '3.7'
typing-extensions==4.12.2; python_version >= '3.8'
urllib3==2.2.3; python_version >= '3.8'
whitenoise==6.7.0; python_version >= '3.8'
zope-interface==7.0.3; python_version >= '3.8'