asgiref==3.8.1; python_version >= '3.8'
crispy-tailwind==1.0.3; python_version >= '3.8'
diff-match-patch==20230430; python_version >= '3.7'
django==5.1; python_version >= '3.10'
django-allauth==64.0.0; python_version >= '3.8'
django-cleanup==8.1.0
django-cors-headers==4.4.0; python_version >= '3.8'
django-crispy-forms==2.3; python_version >= '3.8'
django-debug-toolbar==4.4.6; python_version >= '3.8'
django-environ==0.11.2; python_version >= '3.6' and python_version < '4'
django-extensions==3.2.3; python_version >= '3.6'
django-guardian==2.4.0; python_version >= '3.5'
django-import-export==4.1.1; python_version >= '3.8'
django-phonenumber-field[phonenumbers]==8.0.0; python_version >= '3.8'
django-tinymce==4.1.0; python_version >= '3.8'
django-unfold==0.34.0; python_version >= '3.8'
django-widget-tweaks==1.5.0; python_version >= '3.8'
djhtml==3.0.6
isort==5.13.2; python_full_version >= '3.8.0'
phonenumbers==8.13.43
pillow==10.4.0; python_version >= '3.8'
sqlparse==0.5.1; python_version >= '3.8'
tablib==3.5.0; python_version >= '3.8'
whitenoise==6.7.0; python_version >= '3.8'