{% extends 'admin_base.html' %}
{% load humanize %}
{% block title %}Staff Dashboard{% endblock title %}

{% block content %}
<div>
    <div class="grid grid-cols-1 gap-8 p-4 lg:grid-cols-2 xl:grid-cols-4">
        {% if vacancies %}
        {% for vacancy in vacancies %}
        <a href="{% url 'recruitment:vacancy_detail' vacancy.slug %}"
            class="flex items-center justify-between p-4 border border-1 border-gray-900 rounded-md dark:bg-darker">
            <div>
                <h6 class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-red-light">
                    {{vacancy.title}}
                    <span class="inline-block px-2 py-px ml-2 text-xs text-red-500 bg-red-100 rounded-md">
                        {{ vacancy.deadline|naturaltime }}
                    </span>
                </h6>
            </div>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>


{% include 'unfold/partials/apps.html' %}
{% endblock content %}