<div id="accordion-flush" data-accordion="collapse"
     data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-200"
     data-inactive-classes="text-gray-500 dark:text-gray-400">
    <div class="w-full divide-y divide-neutral-300 text-neutral-600 dark:divide-neutral-700 dark:text-neutral-300">
        {% for faq in faqs %}
            <div x-data="{ isExpanded: false }">
                <button id="controlsAccordionItemOne-{{ faq.pk }}" type="button"
                        class="flex w-full items-center justify-between gap-4 py-4 text-left underline-offset-2 focus-visible:underline focus-visible:outline-hidden"
                        aria-controls="accordionItemOne-{{ faq.pk }}" x-on:click="isExpanded = ! isExpanded"
                        x-bind:class="isExpanded ? 'text-onSurfaceStrong dark:text-onSurfaceDarkStrong font-bold'  : 'text-onSurface dark:text-onSurfaceDark font-medium'"
                        x-bind:aria-expanded="isExpanded ? 'true' : 'false'">
                    {{ faq.question }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2"
                         stroke="currentColor" class="size-5 shrink-0 transition" aria-hidden="true"
                         x-bind:class="isExpanded  ?  'rotate-180'  :  ''">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </button>
                <div x-cloak x-show="isExpanded" id="accordionItemOne-{{ faq.pk }}" role="region"
                     aria-labelledby="controlsAccordionItemOne-{{ faq.pk }}" x-collapse>
                    <div class="pb-4 text-sm sm:text-base text-pretty">
                        {{ faq.answer|safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>