<div id="accordion-flush" data-accordion="collapse"
     data-active-classes="bg-white dark:bg-gray-900 text-gray-900 text-gray-100"
     data-inactive-classes="text-gray-500 dark:text-gray-400">
    {% for faq in faqs %}
        <h2 id="accordion-flush-heading-{{ faq.pk }}">
            <button type="button"
                    class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
                    data-accordion-target="#accordion-flush-body-{{ faq.pk }}" aria-expanded="true"
                    aria-controls="accordion-flush-body-{{ faq.pk }}">
                <span>{{ faq.question }}</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 5 5 1 1 5" />
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-{{ faq.pk }}" class="hidden" aria-labelledby="accordion-flush-heading-{{ faq.pk }}">
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">{{ faq.answer }}</p>
            </div>
        </div>
    {% endfor %}
</div>