{% extends "base.html" %}
{% load humanize %}
{% load i18n static %}

{% block title %}Homepage{% endblock title %}
{% block content %}

    <section>
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="max-w-screen-lg mb-8 lg:mb-16">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl">
                    <span class="text-transparent bg-clip-text bg-sky-800 dark:bg-orange-400">Vacancies</span>
                </h1>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">{% lorem %}</p>
            </div>
            {% if vacancies %}
                {% include 'recruitment/vacancy/list.html' %}
            {% else %}
                <h1 class="mb-4 text-xl font-extrabold text-sky-800 dark:text-white md:text-3xl lg:text-3xl">No vacancies at
                    the moment
                </h1>
            {% endif %}
        </div>
    </section>



{% comment %}
<section>
    <div id="subscribe-form" hx-get="{% url 'recruitment:subscriber_create' %}" hx-target="#subscribe-form"
        hx-trigger="load">
        {% include 'recruitment/subscribe/create.html' %}
    </div>
</section>
{% endcomment %}

    <br>
{% endblock content %}