{% extends "admin/base.html" %}
{% load humanize %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block title %}Homepage{% endblock title %}
{% block content %}
{% if vacancies %}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Designed for business
                teams like yours</h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">Here at Flowbite we focus on markets where
                technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
        </div>
        {% include 'recruitment/vacancy/list.html' %}
    </div>
</section>
{% endif %}
<section>
    <div id="subscribe-form" hx-get="{% url 'recruitment:subscriber_create' %}" hx-target="#subscribe-form"
        hx-trigger="load">
        {% include 'recruitment/subscribe/create.html' %}
    </div>
</section>
{% endblock content %}