<div class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800"
     tabindex="-1" aria-labelledby="drawer-right-label">
    <h5 id="drawer-right-label"
        class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
        Notifications
        <span>
            <!-- <button type="button" @click="openUserNotifications = false"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
                X
            </button> -->
        </span>
    </h5>
    <hr>
    <div>
        <ul id="notification"></ul>
        <!-- <a href="#" class="flex py-3 px-4 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600">
            <div class="pl-3 w-full">
                <div class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400">New message from
                    <span class="font-semibold text-gray-900 dark:text-white">Bonnie Green</span>: "Hey,
                    what's up? All set for the presentation?"
                </div>
                <div class="text-xs font-medium text-red-700 dark:text-red-400">a few moments ago
                </div>
            </div>
        </a> -->
    </div>

</div>