{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}{{ vacancy.title }}{% endblock title %}
{% block content %}
<div class="p-4">
    <section class="">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            {{ formset|crispy }}

            {{ formset.management_form }}

            {% for form in formset %}
            {{ form|crispy }}
            {% endfor %}
            <button type="submit">Apply</button>
        </form>
    </section>
</div>
{% endblock content %}