{% load static crispy_forms_tags %}
<form class="flex justify-center px-5" enctype="multipart/form-data">
    <div class="pb-5">
        {% csrf_token %}
        <c-input name="title" label="Certification Title" placeholder="e.g CCNA1" placement='top' required />
        <br>
        <c-input name="institution" label="Institute FULL NAME" placeholder="e.g Comptia" placement='top' required />
        <br>
        <c-input name="institution_website" type="url" label="Url to institute website"
                 placeholder="e.g https://www.comptia.org/" placement='top' required />
        <br>
        <c-input name="certification_id" label="Certification ID" placement='top' required />
        <br>
        <c-input name="file" type="file" label="Certified Copy of Certificate" placement='top' required />
        <br>
        <div x-data="{ isLifetime: false }">
            <div>
                <c-toggle id="isLifetime" label="Is Lifetime" x-model="isLifetime" value="isLifetime"
                          @click="isLifetime = true" />
            </div>

            <br>

            <div class="grid grid-cols-2 gap-3">
                <c-input name="obtained_date" type="date" label="Obtained Date" required />
                <template x-if="!isLifetime">
                    <div>
                        <c-input name="expiry_date" type="date" label="Expiry Date" />
                    </div>
                </template>
            </div>
        </div>
        <br>
        <c-button id="certification-submit" type="submit" label="Add Certification" primary
                  hx-post="{% url 'accounts:create_certification' %}" hx-target="#certification-list" hx-swap="outerHtml"
                  hx-trigger="click" hx-encoding='multipart/form-data' />
    </div>

</form>