{% extends "unfold_admin/base_site.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Apply for {{ vacancy.title }}</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_first_name">First Name:</label>
              {{ form.first_name }}
            </div>
            <div class="form-group">
              <label for="id_middle_name">Middle Name:</label>
              {{ form.middle_name }}
            </div>
            <div class="form-group">
              <label for="id_last_name">Last Name:</label>
              {{ form.last_name }}
            </div>
            <div class="form-group">
              <label for="id_email">Email:</label>
              {{ form.email }}
            </div>
            <div class="form-group">
              <label for="id_primary_contact">Primary Contact:</label>
              {{ form.primary_contact }}
            </div>
            <div class="form-group">
              <label for="id_secondary_contact">Secondary Contact:</label>
              {{ form.secondary_contact }}
            </div>
            <div class="form-group">
              <label for="id_date_of_birth">Date of Birth:</label>
              {{ form.date_of_birth }}
            </div>
            <button type="submit" class="btn btn-primary">Apply</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}