{% extends 'admin/base.html' %}
{% load i18n static %} {# Load both i18n and static at the top #}

{% block breadcrumbs %}{% endblock %}

{% block title %}
{% if subtitle %}{{ subtitle }} | {% endif %}
{{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {{ site_header|default:_('Django administration') }}
    </a>
</h1>
{% endblock %}

{% block content %}
<div class="flex flex-col lg:flex-row lg:gap-15">

    <div class="flex-grow rounded-xl shadow-md p-6 text-gray-800 dark:text-white"
        style="background-image: url('{% static " img/background_image.png" %}'); background-size: cover;
        background-position: center;">

        <div class="bg-white/90 dark:bg-gray-900/70 backdrop-blur-md p-6 rounded-lg space-y-6">
            {% include "unfold/helpers/app_list_default.html" %}
        </div>

    </div>

</div>
{% endblock %}