{% load humanize %}
<a href="{{ object_id }}" id="notification" hx-swap-oob="afterbegin"
   class="flex py-3 px-4 border-b hover:bg-gray-100 dark:hover:bg-gray-600 dark:border-gray-600">
    <div class="pl-3 w-full">
        <div class="text-gray-500 font-normal text-sm mb-1.5 dark:text-gray-400">{{ message }}
            <!-- <span class="font-semibold text-gray-900 text-gray-100">Bonnie Green</span>: "Hey,
            what's up? All set for the presentation?" -->
        </div>
        <div class="text-xs font-medium text-orange-700 dark:text-orange-400">{{ created_at|naturaltime }}
        </div>
    </div>
</a>