{% extends 'base.html' %}
{% load static widget_tweaks crispy_forms_tags %}
{% block head %}{{ form.media }}{% endblock head %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/tinymce.min.css' %}">
{% endblock extracss %}
{% block extrascripts %}
    <script src="{% static 'js/tinymce.min.js' %}"></script>
{% endblock extrascripts %}
{% block title %}{{ vacancy.title }}{% endblock title %}
{% block content %}


    <section x-data="{submittable: false}" class="bg-gray-100">
        <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
            <!-- Vacancy Detail -->
                <div class="lg:col-span-2 lg:py-12 overflow-y-auto">
                    <c-h3 title="{{ vacancy.title }}" />
                    {% if vacancy.advert and vacancy.advert.url %}
                        <a href="{{ vacancy.advert.url }}" target="_blank">
                            <button type="button"
                                    class="border text-sky-800 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

                                <svg class="w-4 h-4 me-2 animate-bounce duration-75" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4" />
                                </svg>

                                Download Advert
                            </button>
                        </a>
                    {% endif %}

                    <div class="mt-8">
                        <time datetime="{{ vacancy.deadline }}" class="text-red-500">{{ vacancy.deadline }}</time>
                    </div>

                    <p>
                        {{ vacancy.content|safe }}
                        {% lorem %}
                    </p>
                <!-- Remarks -->
                    <p>
                        <strong>Remarks:</strong>
                        {{ vacancy.remarks|safe }}
                        {% lorem %}
                    </p>
                </div>
            <!-- VacancyDetail End -->

                <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">

                    {% if messages %}
                        {% for message in messages %}
                <!-- danger Alert -->
                            <div class="relative w-full overflow-hidden rounded-md border border-red-500 bg-white text-neutral-600 dark:bg-neutral-950 dark:text-neutral-300"
                                 role="alert">
                                <div class="flex w-full items-center gap-2 bg-red-500/10 p-4">
                                    <div class="ml-2">
                                        <h3 class="text-sm font-semibold text-red-500">{{ message}}</h3>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    {% endif %}


                    <form method="post" enctype="multipart/form-data" class="space-y-4" id="qualificationForm">
                        {% csrf_token %}


                        <div class="grid grid-cols-1 gap-2 md:grid-cols-3">
                            <c-input id="first_name" label="First Name" placeholder="First Name" name="first_name"
                                     autocomplete required validationUrl="{% url 'recruitment:first_name_validation' %}" />
                            <c-input id="middle_name" label="Middle Name" placeholder="Middle Name" name="middle_name"
                                     validationUrl="{% url 'recruitment:middle_name_validation' %}"
                                     class="w-full rounded-lg border border-gray-200 p-3 text-sm" />
                            <c-input id="last_name" label="Last Name" placeholder="Last Name" name="last_name"
                                     validationUrl="{% url 'recruitment:last_name_validation' %}" autocomplete required />
                        </div>

                        <div class="grid grid-cols-1 gap-2 md:grid-cols-3">
                            <c-select id="gender-select" name="gender" label="Gender" :options="['female','male']"
                                      required />
                            <c-input id="email" label="Email" placeholder="@Email" name="email"
                                     validationUrl="{% url 'email_validation' %}" autocomplete required />
                            <c-input label="Date of Birth" id="date_of_irth" name="date_of_birth" type="date" autocomplete
                                     required />
                        </div>

                        <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
                            <c-input id="primary_contact" label="Primary Contact Number" placeholder="+264 ... ...."
                                     name="primary_contact" type="tel"
                                     validationUrl="{% url 'recruitment:primary_contact_validation' %}" autocomplete="false"
                                     required />

                            <c-input id="secondary_contact" label="Secondary Contact Number" placeholder="Secondary Contact"
                                     name="secondary_contact" type="tel"
                                     validationUrl="{% url 'recruitment:secondary_contact_validation' %}" autocomplete="false" />
                        </div>


                        <c-input id="cv" label="Documents" name="cv" type="file" autocomplete required />

                        {% if vacancy.requirements.all %}
                            <div class="inline-flex items-center justify-center w-full md:my-10 col-span-2">
                                <c-h4 title="Requirements" />
                            </div>
                            <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
                                {% for field in form %}
                                    {% if field.name|slice:":12" == "requirement_" %}
                                        {% if field.field.widget.input_type == 'checkbox' %}
                                            <div>
                                                <c-dcc-checkbox id="{{ field.id }}" label="{{ field.label }}" name="{{ field.html_name }}"
                                                                required="{% if field.field.required %} true {% endif %}" />
                                            </div>
                                        {% elif field.field.widget.input_type == 'text' %}
                                            <div class="col-span-2">
                                                <c-input id="{{ field.id }}" label="{{ field.label }}" placeholder="{{ field.label }}"
                                                         name="{{ field.html_name }}"
                                                         required="{% if field.field.required %} true {% endif %}" />
                                            </div>

                                        {% elif field.field.widget.input_type == 'date' %}
                                            <div>
                                                <c-input id="{{ field.id }}" type="date" name="{{ field.html_name }}"
                                                         required="{% if field.field.required %} true {% endif %}" />
                                            </div>

                                        {% elif field.field.is_select %}
                                            <div>
                                                <c-select id="{{ field.id }}" type="select" name="{{ field.html_name }}"
                                                          label="{{ field.label }}"
                                                          :options="[{% for value, label in field.field.choices %}'{{ label }}'{% if not forloop.last %},{% endif %}{% endfor %}]"
                                                          required="{% if field.field.required %} true {% endif %}" />
                                            </div>
                                        {% elif field.field.is_multiselect %}
                                            <div>
                                                <label for="{{ field.id }}">{{ field.label }}</label>
                                                <c-dcc-select-multiple id="{{ field.id }}" label="Choss" name="{{ field.html_name }}"
                                                                       :options="[{% for value, label in field.field.choices %}'{{ label }}'{% if not forloop.last %},{% endif %}{% endfor %}]" />
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="flex justify-center">
                            <c-button label="Apply" type="submit" primary />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>


    <script>
        function handleFormSubmit(event) {
        // Prevent the default form submission
            event.preventDefault();

        // Gather all form data
            const form = document.getElementById('qualificationForm');
            const formData = new FormData(form);

        // Log each form entry to the console
            for (const [key, value] of formData.entries()) {
                console.log(`${key}: ${value}`);
            }

        // If you still want to submit the form after logging, uncomment the line below:
        // form.submit();
        }
    </script>

{% endblock content %}