<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telecom Namibia</title>
    <style>
        @media screen and (max-width: 600px) {
            .content {
                width: 100% !important;
                display: block !important;
                padding: 10px !important;
            }

            .header,
            .body,
            .footer {
                padding: 20px !important;
            }
        }
    </style>
</head>

<body style="font-family: 'Poppins', Arial, sans-serif">
    <table width="100%" border="0" cellspacing="0" cellpadding="0"></table>
    <tr>
        <td align="center" style="padding: 20px;">
            <table class="content" width="600" border="0" cellspacing="0" cellpadding="0"
                style="border-collapse: collapse; border: 1px solid #cccccc;">
                <!-- Header -->
                <tr>
                    <td class="header"
                        style="background-color: #345C72; padding: 40px; text-align: center; color: white; font-size: 24px;">
                        Telecom Namibia
                    </td>
                </tr>

                <!-- Body -->
                <tr>
                    <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                        Dear {{ recipient_name }},
                        <br><br>
                        Dear Applicant,

                        Your application for the {instance.vacancy.title} opportunity at Telecom Namibia is currently on
                        hold. Thank you for your patience.




                        <br><br>
                        We appreciate your interest in Telecom Namibia.
                    </td>
                </tr>
                <!-- Footer -->
                <tr>
                    <td class="footer"
                        style="background-color: #333333; padding: 40px; text-align: center; color: white; font-size: 14px;">
                        Copyright &copy; 2024 | Telecom Namibia
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </table>
</body>

</html>