{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Telecom Namibia -
            {% block title %}{% endblock title %}
        </title>


        <link href="{% static 'css/output.css' %}" rel="stylesheet">

        {% block extracss %}{% endblock extracss %}


        <script src="{% static 'js/alpine.focus.js' %}" defer></script>
        <script src="{% static 'js/alpine.js' %}" defer></script>

        <script src="{% static 'js/htmx.min.js' %}"></script>
        <script src="{% static 'js/tailwind.min.js' %}"></script>

        {% block extrascripts %}{% endblock extrascripts %}


        <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />

        {% block head %}{% endblock head %}
    </head>

    <body class="bg-white dark:bg-gray-900" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% if announcements %}
            {% include 'pages/announcements.html' %}
        {% endif %}

        {% block base_content %}{% endblock base_content %}

        {% block scripts %}{% endblock scripts %}

    {# <script src="{% static 'js/flowbite.min.js' %}"></script> #}

    {#<script>
        htmx.on('htmx:load', function (event) {
            Alpine.initTree(event.target);
        });
    </script>#}
    </body>

</html>