{% extends '_base.html' %}


{% block base_content %}
    <div class="">
        {% include 'includes/navbar.html' %}
        <div class="p-5 justify-between">
        {#{% if user.is_authenticated %}
                <div class="fixed">
                    {% include 'includes/sidebar.html' %}
                </div>
            {% endif %}#}
            <main class=" scroll-smooth overflow-x-auto">
                {% block content %}
                {% endblock content %}
            </main>
        </div>
    </div>
{% endblock base_content %}