<div class="inline-flex p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <div class="justify-start">
        <h3 class="inline-flex mb-1 text-xs text-gray-600 dark:text-neutral-400">
            {{ qualification.year_started }} - {{ qualification.year_ended }}
        </h3>

        <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
            {{ qualification.qualification_type }}: {{ qualification.title }}
        </p>

        <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
            {{ qualification.institution }}
        </p>
    </div>


    <div x-data="{ isQualificationOpen: false, qualificationOpenedWithKeyboard: false, leaveTimeout: null }"
         @keydown.esc.prevent="isQualificationOpen = false, qualificationOpenedWithKeyboard = false"
         @click.outside="isQualificationOpen = false, qualificationOpenedWithKeyboard = false"
         class="flex justify-end relative">
        <!-- Toggle Button -->


        <button id="dropdownMenuIconButton" type="button" class="justify-end right-0"
                @click="isQualificationOpen = true" @keydown.space.prevent="qualificationOpenedWithKeyboard = true"
                @keydown.enter.prevent="qualificationOpenedWithKeyboard = true"
                :class="isQualificationOpen || qualificationOpenedWithKeyboard ? 'text-neutral-900 dark:text-white' : 'text-neutral-600 dark:text-neutral-300'"
                :aria-expanded="isQualificationOpen || qualificationOpenedWithKeyboard" aria-haspopup="true"
                @keydown.down.prevent="qualificationOpenedWithKeyboard = true">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M12 6h.01M12 12h.01M12 18h.01" />
            </svg>
        </button>

        <!-- Dropdown Menu -->
        <div x-cloak x-show="isQualificationOpen || qualificationOpenedWithKeyboard"
             x-trap="qualificationOpenedWithKeyboard"
             @mouseleave="isQualificationOpen = false, qualificationOpenedWithKeyboard = false"
             @click.outside="isQualificationOpen = false, qualificationOpenedWithKeyboard = false"
             @keydown.down.prevent="$focus.wrap().next()" @keydown.up.prevent="$focus.wrap().previous()"
             class="absolute top-0 left-[-5] flex right-full transform -translate-x-2 min-w-[12rem] flex-col overflow-hidden rounded-md border border-neutral-300 bg-neutral-50 py-1.5 dark:border-neutral-700 dark:bg-neutral-900"
             role="menu">
            {% if qualification.file %}
                <a href="{{ qualification.file.url }}" download
                   class="inline-flex gap-5 hover:bg-blue-100 hover:text-blue-800 text-gray-500 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3">
                    <svg class="size-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4" />
                    </svg>

                    Download
                </a>
            {% endif %}
            <button hx-delete="{% url 'accounts:delete_qualification' qualification_id=qualification.id %}"
                    hx-confirm="Are you sure you want to delete this qualification?" hx-target="#qualification-list"
                    hx-swap="outerHtml" hx-trigger="click"
                    class="inline-flex gap-5 hover:bg-red-100 hover:text-red-800 text-gray-500 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300 ms-3">
                <svg class="size-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
                </svg>
                Delete

            </button>
        </div>
    </div>

</div>